#MySignature
{ 
border-top: #e0e0e0 1px dashed;
border-right: #e0e0e0 1px dashed;
border-bottom: #e0e0e0 1px dashed;
border-left: #e0e0e0 1px dashed;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
background: #e5f1f4 no-repeat 1% 50%;
}
